<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

<div class="slide">
  <div>
    <p-button id="menu-btn" type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>
  </div>
    <div id="menu-card">
      <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <p><img id="logo" src="../../../assets/image/u-commerce.png" alt=""></p>
        <div class="menu">
          <ul id="menu-list">
            <li class="field">
              <span class="option"><i class="fas fa-home"></i><a class="opt" routerLink="/home">Anasayfa</a></span>
            </li>
            <li class="field">
              <span class="option"><i class="fas fa-shopping-cart"></i><a class="opt" routerLink="/basket">Sepetim</a></span>
             </li>
            <li class="field">
              <span class="option"><i class="fas fa-user"></i><a class="opt" routerLink="/pastorder">Siparişlerim</a></span>
            </li>
            <!-- <li class="field">
              <span class="option"><i class="fas fa-wallet"></i>Cüzdanım</span>
            </li> -->
            <li class="field">
              <span class="option"><i class="fas fa-door-open"></i><a class="opt" routerLink="">Çıkış Yap</a></span>
            </li>
          </ul>
        </div>
      </p-sidebar>
    </div>
</div>



