<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<p-toast></p-toast>

<div class="card">

    <p-table [scrollable]="true" styleClass="p-datatable-responsive-demo" #dt [value]="categoryList" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name']" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="" [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h2 class="p-mb-3">Kategoriler</h2>
                <button pButton pRipple label="Ekle" icon="pi pi-plus" class="p-button-success p-mr-2 p-mt-2" (click)="openNew()"></button>
            </div>
        </ng-template>

        <ng-template pTemplate="body" let-category>
            <tr>

                <td>
                    <span>{{category.name}}</span>
                </td>

                <td style="text-align: left;">
                    <button pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success p-mr-2" (click)="edit(category)"></button> <!-- edit methodu eklenecek -->
                    <button pButton pRipple icon="pi pi-trash" (click)="delete(category.id)" class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div id="ctg-footer" class="p-d-flex p-ai-center p-jc-between">
                Toplamda {{categoryList ? categoryList.length : 0 }} kategori bulunmaktadır.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Kategori Ekle" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Kategori İsmi</label>
            <input type="text" pInputText id="name" [(ngModel)]="category.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !category.name">Name is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="İptal" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Kaydet" icon="pi pi-check" (click) = "addCategory()" class="p-button-text"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
